/*********************************************************
* address
*********************************************************/
@import "address/address";

/*********************************************************
* article
*********************************************************/
@import "article/article";

/*********************************************************
* aside
*********************************************************/
@import "aside/aside";

/*********************************************************
* body
*********************************************************/
@import "body/body";

/*********************************************************
* details
*********************************************************/
@import "details/details";

/*********************************************************
* dialog
*********************************************************/
@import "dialog/dialog";

/*********************************************************
* embed
*********************************************************/
@import "embed/embed";

/*********************************************************
* figure
*********************************************************/
@import "figure/figure";

/*********************************************************
* footer
*********************************************************/
@import "footer/footer";

/*********************************************************
* form
*********************************************************/
@import "form/form";

/*********************************************************
* header
*********************************************************/
@import "header/header";

/*********************************************************
* hr
*********************************************************/
@import "hr/hr";

/*********************************************************
* html
*********************************************************/
@import "html/html";

/*********************************************************
* img
*********************************************************/
@import "img/img";

/*********************************************************
* main
*********************************************************/
@import "main/main";

/*********************************************************
* menu
*********************************************************/
@import "menu/menu";

/*********************************************************
* nav
*********************************************************/
@import "nav/nav";

/*********************************************************
* section
*********************************************************/
@import "section/section";

/*********************************************************
* table
*********************************************************/
@import "table/table";

/*********************************************************
* typography
*********************************************************/
@import "typography/typography";

/*********************************************************
* variables
*********************************************************/
@import "variables/variables";